<!DOCTYPE html>
<html>

<head>
  <title>Title</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

  <div class="navbar">
    <a class="logo" href="/"><img class="icon" src="/static/images/логотип..svg" alt="dots icon"></a>
    <a href="test.html">Наши врачи</a>
    <a href="test2.html">Услуги и цены</a>
    <a href="test3.html">Клиники и аптеки</a>
    <a href="test4.html">Наши контакты</a>
    <a class="right" href="login">Переход на страницу авторизации</a>
  </div>
  <div class="row">
    <div class="main">
      <div class="header">
        <h1>Аксис</h1>
        <p> ветеринарная клиника</p>

      </div>
      <h1>Наши клиники и аптеки</h1>

      <script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6f244f5d49058c8eb1622e2d0ea2043c14b37b9ac1560e524a6ba5656ce40e9f&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
      <p><a href="https://yandex.ru/maps/org/aksis/1160536839/?ll=37.511985%2C55.637872&z=17.53">Клиника ул.
          Островитянова, 19/22, Москва</a></p>
      <p><a href="https://yandex.ru/maps/org/aksis/1160536839/?ll=37.511985%2C55.637872&z=17.53">Аптека ул.
          Островитянова, 19/22, Москва</a></p>
    </div>
  </div>

  <div class="footer">
    <a class="logo"><img class="icon" src="/static/images/логотип..svg" alt="dots icon"></a>
    <a>© 2013-2024</a>
    <a>Weissgauff</a>
    <a>Все права защищены</a>
    <a class="right">Условия использования и политика конфиденциальности</a>

  </div>
</body>

</html>