<!DOCTYPE html>
<html>

<head>
  <title>Title</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='test2.css') }}">
</head>
<div>
  
    
  </div>
  <div class="navbar">
    <a class="logo" href="/"><img class="icon" src="/static/images/logo..svg" alt="dots icon"></a>
    <a href="test.html">Наши врачи</a>
    <a href="test2.html">Услуги и цены</a>
    <a href="test3.html">Клиники и аптеки</a>
    <a href="test4.html">Наши контакты</a>
    <a class="right" href="login">Переход на страницу авторизации</a>
  </div>
  <div class="row">
    <div class="main">
      <div class="header">
    <h1>Аксис</h1>
    <p> ветеринарная клиника</p>
    </div>
      <div id="container2">
      <details class="element-row">
            <summary>Прием и консультация</summary>
            <p>1. Первичный прием (клинический осмотр животного с постановкой диагноза и назначением лечения)-900 р.</p>
            <p>2. Повторный прием (повторный клинический осмотр или осмотр для выполнения манипуляций лечащего врача, консультация по анализам)-700р.</p>
            <p>3. Первичный прием специалиста, по записи (одного животного)-1800р.</p>
            <p>4. Первичный / повторный прием узкопрофильного специалиста: Хирурга, Стоматолога, Нефролога, Гастроэнтеролога, Эндокринолога, Онколога, Аллерголога, Дерматолога)-1800-1400р.</p>
            <p>5. Кардиолога/повторный-1800/1400р.</p>
            <p>6. Консультация по медицинским документам (из другой клиники) / специалиста-1400 / 1800р.</p>
            <p>7. Консультация по уходу и содержанию-900р.</p>
            <p>8. Нахождение животного в клинике, на процедурах без владельца, под наблюдением ассистента ветеринарного врача (1час),  без учета стоимости процедур-1200р.</p>
            <p>9. Патронажный вызов лечащего врача, в клинику, на консультацию вне его рабочей смены-5000р.</p>
            <p>10. Фиксация животного (во время осмотра и манипуляций)-300р.</p>
         </details>
        <details  class="element-row">
          <summary>Вызов на дом</summary>
          <p>1. Вызов врача на дом в пределах ЗАО, ЮЗАО, ЮАО (клинический осмотр, постановка диагноза, назначение лечения; прочие ветеринарные услуги - отдельно по прейскуранту)  с 9.00-21.00-1200р.</p>
          <p>2. Вызов врача на дом по Москве в пределах МКАД (клинический осмотр, постановка диагноза, назначение лечения; прочие ветеринарные услуги - отдельно по прейскуранту) с 9.00-21.00-1500р.</p>
          <p>3. Вызов врача на дом, за МКАД (в область)- более 20 км от Москвы (3000.00 руб. + за каждый км)-от 1500-100р.</p>
        </details>
        <details  class="element-row">
          <summary>Вакцинация и чипирование</summary>
          <p>1. Электронное чипирование (включая стоимость чипа) с внесением в базу данных Animal-ID-2200 р.</p>   
          <p>2. Выдача и регистрация ветеринарного паспорта (с учетом бланка паспорта)-250 р.</p>         
          <P>3. Импортная поливалентная вакцина (кошки, собаки, хорьки):<P>      
          <p>КОШКИ: (Полная стоимость)</p>
          <p>ПУРЕВАКС PUREVAX (RCP) (Франция) (вакцина против ринотрахеита, панлейкопении, калицивироза)-5000 р.</p>
          <p>БИОФЕЛ (Чехия) (вакцина против ринотрахеита, панлейкопении, калицивироза)-2200 р.</p>
          <p>СОБАКИ: (Полная стоимость)</p>
          <p>НОБИВАК NOBIVAC DHPPi + Lepto (Голландия) (вакцина против чумы плотоядных, парвовирусного энтерита, парагриппа, аденовирусного гепатита, лептоспироза)-6000 р.</p>
          <p>ЭУРИКАН EURICAN DHPPi + Lepto (Франция) (вакцина против чумы плотоядных, парвовирусного энтерита, парагриппа, аденовирусного гепатита, лептоспироза)-5500 р.</p>
          <p>БИОКАН (Чехия) (вакцина против чумы плотоядных, парвовирусного энтерита, парагриппа, аденовирусного гепатита, лептоспироза)-2200 р.</p>
          <p>4. Импортная поливалентная вакцина с бешенством (кошки, собаки, хорьки):</p>       
          <p>КОШКИ:(Полная стоимость)</p>
          <p>ПУРЕВАКС PUREVAX (RCP) (Франция) (вакцина против ринотрахеита, панлейкопении, калицивироза) + РАБИЗИН Rabisin (бешенство) (Франция)-5500 р.</P>
          <p>БИОФЕЛ (Чехия) (вакцина против ринотрахеита, панлейкопении, герпесвирусной инфекции и бешенства)-2700 р.</p>
          <p>СОБАКИ: (Полная стоимость)</p>
          <p>НОБИВАК NOBIVAC DHPPi  + Lepto + RABIES (Голландия) (вакцина против чумы плотоядных, парвовирусного энтерита, парагриппа, аденовирусного гепатита, лептоспироза и бешенства)-6500 р.</p>
          <p>ЭУРИКАН EURICAN DHPPi + Lepto + RABIES (Франция) (вакцина против чумы плотоядных, парвовирусного энтерита, парагриппа, аденовирусного гепатита, лептоспироза и бешенства)-6000 р.</p>
          <p>БИОКАН с бешенством (Чехия) (вакцина против чумы плотоядных, парвовирусного энтерита, парагриппа, аденовируса, лептоспироза и бешенства)-2700 р.</p>
          <p>5. Вакцинация импортной антирабической вакциной:</p>
          <p>НОБИВАК NOBIVAC RABIES (Нобивак Рабиес) (Голландия) (кошки, собаки, хорьки)-3000 р.</p>
          <p>6. Вакцинация антирабической вакциной, производства РФ (Рабифел, Рабикан)-1000 р.</p>
          <p>7. Иммунизация кошек Глобулин-850 р.</p>
          <p>8. Иммунизация кошек Сыворотка-850 р.</p>
          <p>9. Иммунизация собак-850 р.</p>
          <p>10. Вакцинация кроликов против вирусной геморрагической болезни кроликов и миксоматоза (Россия)</p>
          <p>12. Введение антигистаминных препаратов при вакцинации для профилактики аллергических реакций-350 р.</p>
        </details>
        <details class="element-row">
          <summary>Диагностические исследования</summary>
          <p>1. УЗИ обзорное брюшной полости-2300 р.</p>
          <p>УЗИ повторное (в стадии обследования)-1500 р.</p>
          <p>УЗИ скрининг брюшной полости (без описания)-1500 р.</p>
          <p>УЗИ одной области (в стадии лечения)-800 р.</p>
          <p>2. УЗИ системы органов-1500 р.</p>
          <p>3. УЗИ диагностика беременности-1500 р.</p>
          <p>4. ЭхоКардиоГрафия (ЭХОКГ сердца)-2300 р.</p>
          <p>5. Электрокардиографичекое исследование (ЭКГ) с расшифровкой-1500 р.</p>
          <p>6. ТОНОМЕТРИЯ - измерение давления (серия измерений)-600 р.</p>
          <p>7.  Диагностическая лапаротомия кошка/собака (без стоимости анестезии)-5500/6500 р.</p>
          <p>8. Лапароцентез диагностический (цистоцентез, гастроцентез, плевроцентез, торакоцентез)-1600 р.</p>
          <p>9. Лапароцентез/лаваж полости и удаление жидкости/воздуха из полости-3000-6500 р.</p>
          <p>10. Торакоцентез с удалением жидкости из полости-3000-6500 р.</p>
          <p>11. Пункционная биопсия-1500 р.</p>
          <p>12. Пункция сустава (с целью получения синовиальной жидкости, с учетом расходных материалов)-1500 р.</p>
          <p>13. Отоскопия (без клинического осмотра)-300 р.</p>
          <p>14. Осмотр внутренней поверхности третьего века-200 р.</p>
          <p>15. Носослезная проба-400 р.</p>
          <p>16. Осмотр лампой «Вуда» (люминесцентная диагностика)-350 р.</p>
          <p>17. Ректальное, вагинальное исследование-450 р.</p>
          <p>18. Глюкозометрия-350 р.</p>
        </details>
        <details class="element-row">
        <summary>Терапевтические манипуляции</summary>
          <p>1. Инъекция внутримышечная, подкожная-200 р.</p>
          <p>2. Инъекция в/венная-350 р.</p>
          <p>3. Внутрисуставная, внутрикостная, внутриполостная инъекция-600 р.</p>
          <p>4. Подкожное введение инфузионных растворов  (без стоимости расходных материалов)-750 р.</p>
          <p>5. Введение гипериммунной сыворотки и др. биогенных препаратов-350 р.</p>
          <p>6. Постановка в/венного катетера (без стоимости расходных материалов)-650 р.</p>
          <p>7. Постановка в/венного катетера животным до 1,5кг (без стоимости расходных материалов)-750 р.</p>
          <p>8. Венесекция (без стоимости расходных материалов)-500 р.</p>
          <p>9. Снятие в/венного катетера-250 р.</p>
          <p>10. Внутривенная инфузия  до 1 часа (без стоимости расходных материалов)-800 р.</p>
          <p>11. Внутривенная инфузия от 1 до 2 часов (без стоимости расходных материалов)-1600 р.</p>
          <p>12. Санация наружного слухового прохода (1 ухо) с обработкой антибактериальными препаратами-350 р.</p>
          <p>13. Обрезка когтей/клюва, резцов у грызунов-500 р.</p>
          <p>14. Удаление расслоившегося когтя-500 р.</p>
          <p>15. Удаление вросшего когтя-500 р.</p>
          <p>16. Гигиеническая стрижка кота/кошки (без стоимости седации)-2000-2500 р.</p>
          <p>17. Гигиеническая стрижка собак (без стоимости седации)-2500-3000 р.</p>
          <p>18. Удаление колтунов (без стоимости седации)-1500 р.</p>
          <p>19. Катетеризация мочевого пузыря здорового кота для взятия анализа мочи  (без стоимости расходных материалов и анализа)-1500 р.</p>
          <p>20. Катетеризация мочевого пузыря кота при обструкции уретры вследствие МКБ (без стоимости расходных материалов и седации)-1700 р.</p>
          <p>21. Катетеризация мочевого пузыря кошек (без стоимости расходных материалов)-2500 р.</p>
          <p>22. Катетеризация мочевого пузыря кобелей (без стоимости расходных материалов)-1700 р.</p>
          <p>23. Катетеризация мочевого пузыря сук (без стоимости расходных материалов)-2200 р.</p>
          <p>24. Санация мочевого пузыря (при установленном катетере)-900 р.</p>
          <p>25. Снятие уретрального катетера-250 р.</p>
          <p>26. Опорожнение мочевого пузыря (массажем через брюшную стенку)-600 р.</p>
          <p>27. Спринцевание влагалища-500 р.</p>
          <p>28. Спринцевание препуция-500 р.</p>
          <p>29. Санация параанальных желез-500 р.</p>
          <p>30. Промывание параанальных желез (катетеризация, промывание, введение лекарственных препаратов)-600 р.</p>
          <p>31. Чистка и прижигание фолликул балланопостита-1000 р.</p>
          <p>32. Очистительная клизма (без стоимости расходных материалов)-1400-2200 р.</p>
          <p>33. Размывание каловых завалов (без стоимости седации, расходных материалов)-1800-3500 р.</p>
          <p>34. Оральное или ректальное введение лекарственных форм (таблеток орально, внутрь/ ректальных суппозиториев)-350 р.</p>
          <p>35. Обработка от эктопаразитов (без стоимости репеллентов)-250 р.</p>
          <p>36. Удаление иксодового клеща (без консультации)-250 р.</p>
          <p>37. Санация носовых ходов-300 р.</p>
          <p>38. Переливание крови (без стоимости расходных материалов и компонентов крови)-5500 р.</p>
          <p>39. Плазмаферез (без стоимости препаратов и расходных материалов)</p>
          <p>40. Сеанс химиотерапии (в/в инфузия без стоимости препаратов)-4500 р.</p>
          <p>41. Оксигенотерапия 1 час-500 р.</p>       
      </details>
      <details class="element-row">
        <summary>Анестезия и интенсивная терапия</summary>
        <p>1. Седация для проведения диагностических исследований-2100 р.</p>  
        <p>2. Общая неингаляционная анестезия  (животное менее 10кг)* (* без стоимости препаратов)-2600 р.</p>
        <p>3. Общая неингаляционная анестезия  (животное от 10-30кг)*-3500 р.</p>
        <p>4. Общая неингаляционная анестезия  (животное от 30-50кг)*-4700 р.</p>
        <p>5 Анестезия у грызунов (хорьки, кролики, морские свинки, крысыи т.п.)*-1500 р.</p>
        <p>6. Местная инфильтрационная анестезия (блокада)*:</p>
        <p>ганглиев-500 р.</p>
        <p>циркулярная-500 р.<p>
        <p>7. Внутрисуставная, внутрикостная, внутриполостная инъекция-500 р.</p>
        <p>8. Реанимационные мероприятия (без стоимости расходных материалов и препаратов)-1500 р.</p>
        <p>9. Реанимация плода-500 р.</p>
        <p>10. Антинаркоз-500-900 р.</p>
      </details>
      <details class="element-row">
        <summary>Косметические манипуляции</summary>
        <p>1. Ампутация хвоста до 10 дней (с учетом стоимости расходных материалов)-800 р.</p>
        <p>2. Ампутация хвоста от 10 дней до 1 месяца (с учетом стоимости расходных материалов)-1400 р.</p>
        <p>3. Ампутация хвоста от 2-4х месяцев-1800 р.</p>
        <p>4. Ампутация рудиментраных фаланг у собак до 10 дней (с учетом стоимости расходных материалов)-800 р.</p>
        <p>5. Ампутация рудиментарных фаланг у собак от 10 дней до 1 месяца (с учетом стоимости расходных материалов)-1200 р.</p>
        <p>6. Ампутация рудиментраных фаланг у взрослых собак-2000 р.</p>
        <p>7. Наращивание когтей у кошки (наклейка мягких коготков) (без стоимости расходных материалов)-1000 р.</p>
      </details>
      <details class="element-row">
        <summary>Стоматологические манипуляции</summary>
        <p>1. Удаление временного (молочного) резца, премоляра, моляра (без стоимости седации)-300 р.</p>
        <p>2. Удаление временного (молочного) клыка (без стоимости седации)-1500 -2000 р.</p>
        <p>3. Удаление постоянного зуба (без стоимости седации)-1500-3500 р.</p>
        <p>4. Удаление постоянного клыка (без стоимости седации)-1500-3500 р.</p>
        <p>5. Снятие зубного камня механически (один зуб)-200 р.</p>
        <p>6. Ультразвуковая санация ротовой полости "снятие зубного камня" (без учета стоимости удаления нежизнеспособных зубов, без стоимости седации)-от 4500 р.</p>
        <p>7. Обработка ротовой полости антибактериальными препаратами-200 р.</p>
      </details>
      <details class="element-row">
        <summary>Хирургические манипуляции</summary>
        <p>1. Наложение бинтовой повязки (без стоимости расходных материалов)-300 р.</p>
        <p>2. Наложение иммобилизирующей повязки/лонгеты-800 р.</p>
        <p>3. Снятие гипсовой повязки-400 р.</p>
        <p>4. Пункция полости-1500 р.</p>
        <p>5. Аспирация  гематомы-1000 р.</p>
        <p>6. Дренирование гематомы, абсцесса-1000 р.</p>
        <p>7. Дренирование свищевого хода (без стоимости расходных материалов и седации)-1000 р.</p>
        <p>8. Постановка дренажа-500 р.</p>
        <p>9. Санация дренажа-450 р.</p>
        <p>10. Снятие дренажа-100 р.</p>
        <p>11. ПХО (первичная хирургическая обработка) поверхностной раны кожи (без стоимости расходных материалов и седации)-от 800 р.</p>
        <p>12. ПХО (первичная хирургическая обработка), ушивание глубокой раны, в т. ч. сухожилий и мышц (без стоимости расходных материалов)-от 1600 р.</p>
        <p>13. ПХО (повторная хирургическая обработка, санация раны) (без стоимости расходных материалов и седации)-600 р.</p>
        <p>14. Ушивание раны кожи (наложение кожно – мышечных швов)-от 1000 р.</p>
        <p>15. Внутрикожный косметический шов (без стоимости расходных материалов)-500 р.</p>
        <p>16. Обработка швов-350 р.</p>
        <p>17. Снятие швов-350 р.</p>
        <p>18. Санация перитонеальных дренажей-1000 р.</p>
        <p>19. Патологическая ампутация хвоста (без стоимости анестезии и расходных материалов)-5000 р.</p>
        <p>20. Удаление опухоли пальца/когтевого ложа с ампутацией пальца (без стоимости анестезии и расходных материалов)-4500 р.</p>
        <p>21. Ампутация конечности (без стоимости анестезии и расходных материалов)-от 8000 р.</p>
      </details>
    <details class="element-row">
      <summary>Хирургические опперации</summary>
      <p>Без стоимости анестезии и расходных материалов</p>
      <p>ОПЕРАЦИИ НА КОЖЕ И КОГТЯХ (без учета стоимости анестезии и расходных материалов):</p>
      <p>1. Кюретаж атеромы сальной железы-1000 р.</p>
      <p>2. Удаление атеромы сальной железы-1400 р.</p>
      <p>3. Удаление поверхностного новообразования кожи до 1 см-1400 р.</p>
      <p>4. Удаление новообразований кожи более 1-2 см-от 1800 р.</p>
      <p>5. Удаление новообразований кожи 2-5 см-От 3500 р.</p>
      <p>6. Удаление новообразований  более 5 см-От 5000 р.</p>
      <p>7. Удаление расслоившегося когтя (без стоимости анестезии)-500 р.</p>
      <p>8. Удаление вросшего когтя-500 р.</p>
      <p>9. Пластика/транспозиция кожи при замещении обширных дефектов-от 4000 р.</p>
      <p>ОПЕРАЦИИ ПРИ ГРЫЖАХ (без учета стоимости анестезии и расходных материалов):<p>
      <p>1. Пластика пупочной грыжи:
      <p>кошка-4500 р.</p>
      <p>собака-5500 р.</p>
      <p>2. Пластика ущемленной пупочной грыжи (без резекции кишечника):</p>
      <p>кошка-6000 р.</p>
      <p>собака-7000 р.</p>
      <p>3. Пластика паховой грыжи (монолатерально):</p>
      <p>кошка-6500 р.</p>
      <p>собака-7500 р.</p>
      <p>4. Пластика промежностной грыжи (монолатерально)-7500 р.</p>
      <p>5. Пластика травматической грыжи-От 7500 р.</p>
      <p>ОПЕРАЦИИ В ОБЛАСТИ ГОЛОВЫ И ШЕИ (без учета стоимости анестезии и расходных материалов):</p>
      <p>1. Ушивание твердого неба-4500 р.</p>
      <p>2. Пластика ноздрей-4000 р.</p>
      <p>3. Хейлопластика (хирургическая коррекция формы губ)-4000 р.</p>
      <p>4. Удаление папиллом ротовой полости-от 3500 р.</p>
      <p>5. Удаление эпулисов (н/о ротовой полости)-от 4000 р.</p>
      <p>6. Вправление, фиксация вывиха нижней челюсти кошке-5000 р.</p>
      <p>7. Вправление, фиксация вывиха нижней челюсти собаке-6000 р.</p>
      <p>8. Оперативное лечение гематомы ушной раковины:</p>
      <p>кошка-3500 р.</p>
      <p>собака-4500 р.</p>
      <p>9. Расширение слухового прохода (удаление новообразований, одно ухо):</p>
      <p>кошка-5500 р.</p>    
      <p>собака-6000 р.</p>
      <p>10. Удаление слюнных желез (одна)-8000 р.</p>
      <p>ОПЕРАЦИИ НА ОРГАНАХ ГРУДНОЙ ПОЛОСТИ (без учета стоимости анестезии и расходных материалов):</p>
      <p>1. Диагностическая торакотомия-11000 р.</p>
      <p>2. Ушивание легкого-10000 р.</p>
      <p>3. Удаление доли легкого-11000 р.</p>
      <p>4. Оперативное лечение пневматоракса-9000 р.</p>
      <p>5. Оперативное лечение диафрагмальной грыжи-12500 р.</p>
      <p>ОПЕРАЦИИ НА ОРГАНАХ ЖЕЛУДОЧНО-КИШЕЧНОГО ТРАКТА (без учета стоимости анестезии и расходных материалов):</p>
      <p>1. Зондирование желудка (без стоимости анестезии, расходных материалов)-1400 р.</p>
      <p>2. Промывание желудка:</p> 
      <p>кошка-1400 р.</p>
      <p>собака-1600 р.</p>
      <p>3. Гастростомия-8000 р.</p>
      <p>4. Гастропексия-1500 р.</p>
      <p>5. Удаление инородного тела из желудка/кишечника-3500 р.</p>
      <p>6. Оперативное лечение заворота желудка-15000 р.</p>
      <p>7. Инвагинация кишечника-8000 р.</p>
      <p>8. Резекция кишечника-8000 р.</p>
      <p>9. Энтеротомия (рассечение стенки кишечника)-7000 р.</p>
      <p>10. Энтеропексия (подшивание части тонкой кишки к брюшной стенке)-1500 р.</p>
      <p>11. Оперативное вправление прямой кишки-2500 р.</p>
      <p>12. Пластика анального отверстия при атрезии ануса-6000 р.</p>
      <p>13. Наложение кисетного шва-800 р.</p>
      <p>14. Резекция прямой кишки-9000 р.</p>
      <p>15. Удаление перианальных синусов (одного)-4500 р.</p>
      <p>16. Хирургическое лечение перитонита-6500 р.</p>
      <p>ОПЕРАЦИИ НА ОРГАНАХ РЕПРОДУКТИВНОЙ СИСТЕМЫ (без учета стоимости анестезии и расходных материалов):</p>
      <p>1. Кастрация здорового кота (ВСЕ ВКЛЮЧЕНО - с учетом стоимости анестезии)-4200 р.</p>
      <p>2. Стерилизация (овариогистерэктомия) здоровой кошки до 3х лет (ВСЕ ВКЛЮЧЕНО - с учетом стоимости анестезии)-6200 р.</p>
      <p>3. Кастрация здорового кобеля до 5 кг (без учета стоимости анестезии и расходных материалов)-от 4500 р.</p>
      <p>от 5 до 15 кг-от 6500 р.</p>
      <p>от 15 до 25 кг-от 7500 р.</p>
      <p>от 25 до 50 кг-от 9500 р.</p>
      <p>4. Кастрация кота при крипторхизме (без учета стоимости анестезии)-7500 р.</p>
      <p>5. Кастрация кобеля при крипторхизме (без учета стоимости анестезии)-от 9500 р.</p>
      <p>6. Овариогистерэктомия у собаки до 10кг-от 6500 р.</p>
      <p>7. Овариогистерэктомия у собаки 10-30кг-от 7500 р.</p>
      <p>8. Овариогистерэктомия у собак более 30кг-от 9000 р.</p>
      <p>9. Кесарево сечение у кошки-от 8500 р.</p>
      <p>10. Кесарево сечение у собаки до 10кг-от 8500 р.</p>
      <p>11. Кесарево сечение у собаки 10-25кг-от 10000 р.</p>
      <p>12. Кесарево сечение у собаки более 25кг-от 12500 р.</p>
      <p>13.Оперативное лечение при патологии матки и/или яичников/пиометре, патологических родах:</p>
      <p>кошка-от 6500 р.</p>
      <p>собака-от 8500 р.</p>
      <p>14. Пластика стенки влагалища при пролапсе-4500 р.</p>
      <p>15. Оперативное вправление влагалища-2000 р.</p>
      <p>16. Расширение отверстия крайней плоти-3500 р.</p>
      <p>17. Регионарная мастэктомия у кошки (одно н/о молочной железы)-5000 р.</p>
      <p>18. Унилатеральная мастэктомия у кошки (один пакет молочных желез)-6500 р.</p>
      <p>19. Тотальная мастэктомия у кошки-10500 р.</p>
      <p>20. Регионарная мастэктомия у собаки до 10кг-5500 р.</p>
      <p>21. Регионарная мастэктомия у собаки 10-30кг-7000 р.</p>
      <p>22. Регионарная мастэктомия у собаки более 30кг-9500 р.</p>
      <p>23. Унилатеральная мастэктомия у собаки до 10кг-6000 р.</p>
      <p>24. Унилатеральная мастэктомия у собаки 10-30кг-7000 р.</p>
      <p>25. Унилатеральная мастэктомия у собаки 30-40кг-9500 р.</p>
      <p>26. Унилатеральная мастэктомия у собак свыше 40 кг-12500 р.</p>
      <p>27. Тотальная мастэктомия у собаки до 10кг-6500 р.</p>
      <p>28. Тотальная мастэктомия у собаки от 10-30кг-10500 р.</p>
      <p>29. Тотальная мастэктомия у собаки  более 30кг-14500 р.</p>
      <p>30. Лимфаденэктомия-7000 р.</p>
      <p>31. Кастрация хорька (без учета стоимости анестезии)</p>
      <p>32. ОГЭ  самки хорька (без учета стоимости анестезии)</p>
      <p>33. Кастрация кролика (без учета стоимости анестезии)-4500 р.</p>
      <p>ОПЕРАЦИИ НА ОРГАНАХ МОЧЕВОЙ СИСТЕМЫ (без учета стоимости анестезии и расходных материалов):</p>
      <p>1. Цистотомия:</p>   
      <p>кошка-от 8500 р.</p>
      <p>собака от 9500 р.</p>
      <p>2. Удаление конкрементов из мочевого пузыря-2500 р.</p>
      <p>3. Ушивание мочевого пузыря при разрыве-от 11500 р.</p>
      <p>4.Уретростомия:</p>                                                                                        
      <p>кот-от 7500 р.</p>
      <p>кобель-от 8500 р.</p>
      <p>5. Бужирование уретростомы-500 р.</p>
      <p>6. Нефроэктомия (удаление почки)-от 15000 р.</p>
      <p>ОПЕРАЦИИ НА СЕЛЕЗЕНКЕ (без учета стоимости анестезии и расходных материалов):</p>
      <p>1.Спленэктомия (удаление селезенки) (без учета стоимости анестезии и расходных материалов)-от 15000 р.</p>
      <p>ОПЕРАЦИИ НА ПЕЧЕНИ И ЖЕЛЧНОМ ПУЗЫРЕ (без учета стоимости анестезии и расходных материалов):</p>
      <p>1. Резекция опухоли печени-от 15000 р.</p>
      <p>2. Удаление доли печени-от 14000 р.</p>
      <p>3. Холицистэктомия (удаление желчного пузыря)-от 15000 р.</p>
      <p>ОФТАЛЬМОЛОГИЧЕСКИЕ ОПЕРАЦИИ (без учета стоимости анестезии и расходных материалов):</p>
      <p>1. Кюретаж фолликулов третьего века-1000 р.</p>
      <p>2. Подшивание (фиксация) слезной железы третьего века (без учета стоимости анестезии и расходных материалов)-3500 р.</p>
      <p>3. Пластические операции на веках-от 2500 р.</p>
      <p>4. Электрокоагуляция папиллом века-от 2500 р.</p>
      <p>5. Удаление халязиона века (без стоимости анестезии)-1200 р.</p>
      <p>6. Вправление глазного яблока-2500 р.</p>
      <p>7. Эвисцерация (удаление содержимого) глазного яблока-5500 р.</p>
      <p>8. Энуклеация (удаление) глазного яблока-6500 р.</p>
      <p>9. Удаление инородного тела из поверхностных слоев роговицы-1500 р.</p>
      <p>10. Хирургическое удаление папиллом на веке-2000 р.</p>
      <p>11. Субконъюктивальная глазная инъекция-500 р.</p>
      <p>12. Ретробульбарная глазная инъекция-800 р.</p>
      <p>13. Обработка глаз-200 р.</p>
      <p>14. Резекция новообразования века с V-образной пластикой-4000 р.</p>
     </details>
    <details class="element-row">
      <summary>Диспансеризация</summary>
      <p>1. Диспансеризация собаки (клиническое обследование - осмотр врача; общий клинический анализ крови, анализ мочи, биохимия крови: показатели функционирования печени, почек, поджелудочной железы, сердца). ЭхоКардиоГрафия (УЗИ-сердца);  УЗИ-органов брюшной полости.-8500 р.</p>
      <p>2. Диспансеризация кошки (клиническое обследование-осмотр врача: общий клинический анализ крови, анализ мочи, биохимия крови: показатели функционирования печени, почек, поджелудочной железы, сердца). ЭхоКардиоГрафия (УЗИ-сердца),  УЗИ-органов брюшной полости.-8500 р.</p>
    </details>
    <details class="element-row">
      <summary>Лабораторная диагностика</summary>
      <p>1. Взятие соскоба/пробы/мазка-500 р.</p>
      <p>2. Взятие крови (одна проба)-500 р.</p>
      <p>3. Консультация по анализам-700 р.</p>
    </details>
  
      </div>
    </div>
  </div>
  <div class="footer">
    <a class="logo" ><img class="icon" src="/static/images/logo..svg" alt="dots icon"></a>
    <a >© 2013-2024</a>
    <a >Weissgauff</a>
    <a >Все права защищены</a>
    <a class="right" >Условия использования и политика конфиденциальности</a>
    
  </div>
  </body>

</html>