<!DOCTYPE html>
<html>

<head>
  <title>Title</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.min.css" />

</head>

<body>
  <div class="navbar">
    <a class="logo" href="/"><img class="icon" src="/static/images/logo..svg" alt="dots icon"></a>
    <a href="test.html">Наши врачи</a>
    <a href="test2.html">Услуги и цены</a>
    <a href="test3.html">Клиники и аптеки</a>
    <a href="test4.html">Наши контакты</a>
    <a class="right" href="login">Переход на страницу авторизации</a>
  </div>
  <div class="header">

    <h1>Аксис</h1>
    <p> ветеринарная клиника</p>

  </div>
  <div class="row">
    <div class="main">
      <h1>Наши врачи</h1>
      <div id="container" class="container">
        {% for doctor in doctors %}
        <div class="cardrow">

          <div class="col-md-3">
            <div class="card mb-3">
              <div class="card-header fw-bold">{{ doctor.firstname }} {{ doctor.surname }} {{doctor.midlename}}</div>
              <div class="card-body">
                <p class="badge bg-primary text-wrap">{{doctor.rang}}</p>
                <p class="badge bg-primary text-wrap">{{doctor.time}}</p>
                <p class="badge bg-primary text-wrap">{{doctor.rang2}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


  </div>

  <div class="footer">
    <a class="logo"><img class="icon" src="/static/images/logo..svg" alt="dots icon"></a>
    <a>© 2013-2024</a>
    <a>Weissgauff</a>
    <a>Все права защищены</a>
    <a class="right">Условия использования и политика конфиденциальности</a>
  </div>
</body>

</html>